.header {
  width: 100%;
  height: 10rem;
  background: $color-grey-light-3;
  display: flex;
  align-items: center;
  padding: 1rem 14rem;
  justify-content: space-between;

  &__logo-box {
    cursor: pointer;
  }

  &__link {
    font-family: "poppins-regular";
    font-size: 1.8rem;
    color: $color-grey-dark;
    text-decoration: none;
    &--active {
      color: $color-black;
    }
  }

  &__actions {
    > * {
      &:not(:first-child) {
        margin-left: 3rem;
      }
    }
  }

  &__profileContainer {
    position: absolute;
    top: 4rem;
    right: 0rem;
    background: white;
    min-width: 33rem;
    padding: 1.7rem 2.5rem;
    box-shadow: 0 0.3rem 1.4rem rgba($color-black, 0.2);
    z-index: 1000;
    > * {
      &:not(:last-child) {
        margin-bottom: 1.5rem !important;
      }
    }
  }

  &__profileCaret {
    width: 1.4rem;
    height: 1.2rem;
    position: absolute;
    right: 2rem;
    top: -1.2rem;
    background: $color-white;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
  }

  &__profileList {
    cursor: pointer;
    > div {
      &:hover {
        text-decoration: underline;
        color: $color-black;
      }
    }
  }
}
