.navbar {
  width: 27.3rem;
  background: $color-primary;
  &__outer {
    width: 80%;
  }

  &__nav {
    display: block;
    padding: 3.5rem 4.5rem;
    text-decoration: none;
    color: $color-white;
    font-size: 1.6rem;
    font-family: "poppins-regular";
    opacity: 0.8;
    width: 27.3rem;

    &--active {
      opacity: 1;
    }
  }
}

.recruiterNavbarContainer {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.recruiterNavbar {
  width: 27.3rem;
  background: $color-primary;
  padding-top: 1.75rem;
  &__nav {
    display: block;
    padding: 1.75rem 4.7rem;
    text-decoration: none;
    color: $color-white;
    font-size: 1.6rem;
    font-family: "poppins-regular";
    opacity: 0.8;
    width: 27.3rem;

    &--active {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 60rem) {
  .recruiterNavbar {
    width: 100%;
    display: flex;
  }

  .recruiterNavbarContainer {
    display: block;
  }
}
