.authentication {
  &__loginContainer {
    background: $color-secondary;
    padding: 6.4rem 7rem 5.7rem 7rem;
  }

  &__loginCTA {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end;
    > * {
      cursor: pointer;
      &:not(:first-child) {
        margin-left: 2.3rem;
      }
    }
  }
}
