.form {
  &__input-1 {
    height: 4.4rem;
    width: 100%;
    border-radius: 1rem;
    background: $color-grey-light-1;
    outline: none;
    border: none;
    padding: 0.9rem 1.8rem;
    font-family: "poppins-regular";
    font-size: 1.8rem;
    &::placeholder {
      font-family: "poppins-light";
      font-size: 1.8rem;
      color: #c8c5c5;
    }
  }
}
