.home {
  &__hero {
    background-image: url("/assets/images/home-banner.png");
    background-size: cover;
    height: calc(100vh - 10rem);
  }

  &__heroContainer {
    padding: 14rem;
  }

  &__heroInput {
    opacity: 0.85;
    height: 5.4rem;
  }
}
