.home {
  &__hero {
    background-image: url("/assets/images/home-banner.png");
    background-size: cover;
    height: calc(100vh - 10rem);
  }

  &__heroContainer {
    padding: 14rem;
  }

  &__heroInput {
    opacity: 0.85;
    height: 5.4rem;
  }

  &__feedback {
    min-height: 66.5rem;
    background: $color-secondary;
    padding: 6.1rem 3.1rem;
  }

  &__ad {
    min-height: 55.1rem;
    background-image: linear-gradient(
        to right,
        rgba($color-primary, 0.7),
        rgba($color-primary, 0.7)
      ),
      url("/assets/images/home-ad.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card {
    background: $color-grey-light-3;
    cursor: pointer;
    min-height: 19.6rem;
    border-radius: 0.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    &:hover {
      box-shadow: 1px 1px 2.5rem rgba($color-black, 0.25);
      border: 1px solid $color-grey-light-2;
    }
    > * {
      &:not(:first-child) {
        margin-top: 1.6rem;
      }
    }
  }

  &__feedbackLists {
    position: relative;
    overflow: hidden;
    min-height: 40rem;
    margin-top: 3.5rem;
    > ul {
      display: flex;
      left: 0%;
      position: relative;
      transition: 0.5s;
      > li {
        margin: 0rem 4.4rem;
        list-style: none;
        width: 33.3%;
      }
    }
  }

  &__feedbackArrow {
    height: 20rem;
    fill: $color-tertiary;
    cursor: pointer;
    opacity: 0.4;
    z-index: 1000;
    transition: 0.2s;
    &:hover {
      opacity: 1;
    }

    &--right {
      position: absolute;
      top: 5rem;
      right: 0%;
    }

    &--left {
      transform: rotateY(180deg);
      position: absolute;
      top: 5rem;
      left: 0%;
    }
  }

  &__feedbackContainer {
    text-align: center;
    max-width: 39.7rem;
    height: 28.5rem;
    transform: scale(0.8);
    opacity: 0.3;
    transition: 0.5s;
    &--current {
      opacity: 1;
      transform: scaleX(1);
    }
  }

  &__feedbackText {
    position: relative;
    background: $color-white;
    box-shadow: 0 0.3rem 1.9rem rgba($color-black, 0.14);
    padding: 2.5rem 2.9rem;
    border-radius: 0.5rem;
  }

  &__feedbackCaret {
    position: absolute;
    width: 3.5rem;
    height: 3rem;
    background: $color-white;
    bottom: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }

  &__sampleContainer {
    display: inline-block;
    width: 100%;
  }

  &__sampleJobs {
    display: inline-block;
    width: 66%;
  }

  &__sampleCompany {
    display: inline-block;
    width: 32.3%;
  }
}
