.notification {
  &__container {
    background: $color-white;
    border-radius: 1.5rem;
    box-shadow: 0 1px 2rem rgba($color-black, 0.06);
  }

  &__rows {
    padding: 1.1rem 0 1.3rem 0;
    &--content {
      padding: 2rem 0;
    }
  }

  &__logo {
    height: 8rem;
    width: 7.6rem;
  }
}
