.profile {
  &__main {
    background: $color-primary;
    width: 100%;
    min-height: 31.1rem;
    border-radius: 0.8rem;
    box-shadow: 0 1px 0.6rem rgba($color-black, 0.16);
  }

  &__navContainer {
    width: 100%;
    min-height: 45rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.6rem rgba($color-black, 0.16);
  }

  &__nav {
    text-align: center;
    padding: 3rem 1rem;
    > div {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  &__detailsWrapper {
    position: relative;
    padding: 3rem 4rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.6rem rgba($color-black, 0.16);
  }

  &__detailsMain {
    > * {
      &:not(:first-child) {
        margin-top: 3.5rem;
      }
    }
  }

  &__icon {
    display: inline-block;
    position: absolute;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
    &:hover {
      > div > svg > path {
        fill: $color-tertiary;
      }
    }
  }
}
