.recruit {
  &__planContainer {
    background: $color-white;
    display: inline-block;
    min-width: 51.7rem;
    border-radius: 1.5rem;
    box-shadow: 0 1px 2rem rgba($color-black, 0.06);
    text-align: center;
    padding: 2rem 3.7rem 16rem 3.7rem;

    &--image {
      height: 8.7rem;
    }
  }

  &__planHero {
    background: $color-white;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.6rem rgba($color-black, 0.16);
    min-height: 18.5rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  &__planBanner {
    min-width: 30.8rem;
    display: inline-block;
  }

  &__planTitle {
    margin-bottom: 6.4rem;
    margin-left: 6rem;
  }
}
