.recruit {
  &__planContainer {
    background: $color-white;
    display: inline-block;
    min-width: 51.7rem;
    border-radius: 1.5rem;
    box-shadow: 0 1px 2rem rgba($color-black, 0.06);
    text-align: center;
    padding: 2rem 3.7rem 16rem 3.7rem;

    &--image {
      height: 8.7rem;
    }
  }

  &__download {
    display: flex;
    align-items: center;
    cursor: pointer;
    > * {
      &:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }

  &__statusContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__personalInfo {
    min-width: 80rem;
  }

  &__employments {
    > * {
      &:not(:first-child) {
        margin-top: 2rem;
      }
    }
  }

  &__popupContainer {
    margin-top: 3rem;
    padding: 2rem;
  }

  &__popupCTA {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > * {
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }

  &__candidatesImage {
    height: 6.1rem;
    width: 6.1rem;
    border-radius: 3rem;
  }

  &__planHero {
    background: $color-white;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.6rem rgba($color-black, 0.16);
    min-height: 18.5rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  &__planBanner {
    min-width: 30.8rem;
    display: inline-block;
  }

  &__planTitle {
    margin-bottom: 6.4rem;
    margin-left: 6rem;
  }

  &__planRegion {
    background: $color-white;
    box-shadow: 0 0 0.6rem rgba($color-black, 0.16);
    border-radius: 0.8rem;
    overflow: hidden;
  }

  &__planHeader {
    min-height: 12.6rem;
    padding: 5rem 4.5rem 4.5rem 4.5rem;
    &--primary {
      background: linear-gradient(to right bottom, #ecb84b, #dba127);
    }
    &--secondary {
      background: linear-gradient(to right bottom, #00afe8, #1785a9);
    }

    &--tertiary {
      background: linear-gradient(to right bottom, #1e806c, #126353);
    }
  }

  &__planContentLeft {
    background: #f2f2f2;
    padding: 6.4rem;
    min-height: 43.9rem;
    display: flex;
    align-items: center;
  }

  &__planContents {
    text-align: center;
    padding: 1.6rem;
  }

  &__resumeContainer {
    background: $color-white;
    border-radius: 1.5rem;
    padding: 6.1rem 4.8rem 5.5rem 4.8rem;
    margin-top: 3rem;
  }

  &__skills {
    max-width: 51.6rem;
    > * {
      margin-left: 0;
    }
  }
}
