.section-home-categories {
  padding: 5.2rem 13.9rem;
}

.section-home-samples {
  padding: 1.6rem 13.2rem 10.8rem 13.9rem;
}

@media only screen and (max-width: 55rem) {
  .section-home-samples {
    padding: 1.6rem 5rem 10.8rem 5rem;
  }
}

@media only screen and (max-width: 65rem) {
  .section-home-samples {
    padding: 1.6rem 5.2rem 10.8rem 5.2rem;
  }
}

@media only screen and (max-width: 40rem) {
  .section-home-categories {
    padding: 5.2rem 1rem;
  }
}
