@font-face {
  font-family: "poppins-bold";
  src: url("/assets/fonts/Poppins-Bold.otf");
}

@font-face {
  font-family: "poppins-regular";
  src: url("/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "poppins-medium";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "poppins-light";
  src: url("/assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "proxima-nova-regular";
  src: url("/assets/fonts/ProximaNova-Regular.otf");
}

@import "aos/dist/aos.css";
@import "react-datepicker/dist/react-datepicker.css";

@import "./abstracts/variables";
@import "./abstracts/functions";
@import "./abstracts/mixins";

@import "./base/animations";
@import "./base/base";
@import "./base/typography";
@import "./base/utilities";

@import "./components/authentication";
@import "./components/button";
@import "./components/form";
@import "./components/home";
@import "./components/jobs";
@import "./components/popup";
@import "./components/profile";

@import "./layout/footer";
@import "./layout/header";
@import "./layout/grid";
@import "./layout/loader";
@import "./layout/navbar";

@import "./pages/authentication";
@import "./pages/home";
@import "./pages/profile";

@import "./vendors/calendar";
@import "./vendors/page-transition";
@import "./vendors/scroll";
