body {
  // font-family: "Lato", sans-serif;
  font-family: "Times New Roman";
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey-dark;
  // padding: 3rem;
}

.title {
  color: $color-grey-dark;
  font-size: 1.8rem;
  font-family: "poppins-regular";
  display: inline-block;
  &--pr-13-1 {
    font-size: 1.3rem;
  }
  &--pr-16-1 {
    font-size: 1.6rem;
  }

  &--pr-17-1 {
    font-size: 1.7rem;
    color: $color-primary;
  }

  &--pr-19-1 {
    font-size: 1.9rem;
  }

  &--pr-24-1 {
    font-size: 2.4rem;
    color: $color-primary;
  }

  &--pr-25-1 {
    font-size: 2.5rem;
  }

  &--pr-28-1 {
    font-size: 2.8rem;
  }

  &--pr-30-1 {
    font-size: 3rem;
  }

  &--pr-35-1 {
    font-size: 3.5rem;
    color: $color-white;
  }

  &--pr-54-1 {
    font-size: 5.4rem;
    color: $color-white;
  }

  &--pm-26-1 {
    font-size: 2.6rem;
    font-family: "poppins-medium";
  }

  &--pm-30-1 {
    font-size: 3rem;
    font-family: "poppins-medium";
  }

  &--pb-21-1 {
    font-size: 2.1rem;
    color: $color-primary;
    font-family: "poppins-bold";
  }
}

.text {
  font-size: 1.8rem;
  color: $color-grey-dark;
  font-family: "poppins-regular";
  display: inline-block;

  &--pr-14-1 {
    font-size: 1.4rem;
  }

  &--pr-14-2 {
    font-size: 1.4rem;
    color: $color-primary;
  }

  &--pr-18-1 {
    font-size: 1.8rem;
  }

  &--pr-18-2 {
    font-size: 1.8rem;
    color: $color-white;
  }

  &--pr-18-3 {
    font-size: 1.8rem;
    color: $color-primary;
  }

  &--pl-12-1 {
    font-family: "poppins-light";
    font-size: 1.2rem;
  }

  &--pl-12-2 {
    font-family: "poppins-light";
    font-size: 1.2rem;
    color: $color-white;
  }

  &--pl-14-1 {
    font-family: "poppins-light";
    font-size: 1.4rem;
  }

  &--pl-16-1 {
    font-family: "poppins-light";
    font-size: 1.6rem;
  }

  &--pl-17-1 {
    font-family: "poppins-light";
    font-size: 1.7rem;
  }

  &--pl-17-2 {
    font-family: "poppins-light";
    font-size: 1.7rem;
    color: $color-primary;
  }

  &--pl-18-1 {
    font-family: "poppins-light";
    font-size: 1.8rem;
    color: $color-primary;
  }

  &--error {
    font-size: 1.4rem;
    color: #ce0606;
  }
}
