.u-margin-top-2 {
  margin-top: 2rem !important;
}

.u-margin-top-50 {
  margin-top: 5rem !important;
}

.u-margin-top-4 {
  margin-top: 4rem !important;
}

.u-margin-left-10 {
  margin-left: 1rem !important;
}

.u-margin-top-5 {
  margin-top: 0.5rem!important;
}

.u-margin-left-5 {
  margin-left: 0.5rem !important;
}

.u-margin-top-30 {
  margin-top: 3rem !important;
}

.u-text-center {
  text-align: center !important;
}

.u-width-100 {
  width: 100% !important;
}
